{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-unused-vars": 1,
    "indent": 1,
    "key-spacing": [1, { "align": "value" }],
    "max-len": [2, 80],
    "operator-linebreak": [2, "after"],
    "jsx-a11y/anchor-is-valid": [
      2,
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ]
  },
  "settings": {
    "import/core-modules": ["react", "prop-types", "graphql"]
  },
  "globals": {
    "graphql": true
  }
}
