{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0,
    "indent": 1,
    "key-spacing": [1, { "align": "value" }],
    "max-len": [2, { "code": 100, "ignoreComments": true }],
    "object-curly-newline": [
      2,
      { "ImportDeclaration": "never", "ExportDeclaration": "never" }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["~components", "./src/components"],
        ["~containers", "./src/containers"],
        ["~utils", "./src/utils"]
      ]
    }
  }
}
