{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "indent": 1,
    "key-spacing": [1, { "align": "value" }],
    "max-len": [1, 120]
  },
  "settings": {
    "import/core-modules": ["react", "prop-types", "graphql"]
  },
  "globals": {
    "graphql": true
  }
}
