# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/public

# editors
/.idea
/.vscode

# env files
.env*

# gatsby
lambda

# misc
.cache
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
