.header {
  grid-column: 1 / -1;
}

.heading {
  font-size: 4rem;
  line-height: 5rem;

  @media screen and (min-width: 600px) {
    font-size: 5rem;
    line-height: 6rem;
    margin: -1rem 0 0;
  }
}

.code {
  margin: 2rem 0 0;
}
