.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);

  display: flex;
  align-items: center;
  justify-content: center;

  overscroll-behavior: contain;

  background-color: hsla(var(--hsl-bg), 0.95);
}

.body {
  --shadow: inset 0 0 0 2px hsla(var(--hsl-text), 0.1);

  position: relative;

  border-radius: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: var(--shadow);

  :global {
    animation: fade-up 250ms;
  }
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}
