/* ────────────────────────────────────────────────────────────────────────── */
/* variables
/* ────────────────────────────────────────────────────────────────────────── */

:root {
  --hsl-success: 100, 70%, 60%;
  --color-success: hsl(var(--hsl-success));
  --hsl-info: 211, 100%, 60%;
  --color-info: hsl(var(--hsl-info));
  --hsl-danger: 20, 100%, 50%;
  --color-danger: hsl(var(--hsl-danger));
  --hsl-warning: 40, 100%, 50%;
  --color-warning: hsl(var(--hsl-warning));

  --hsl-bg: 0, 100%, 100%;
  --color-bg: hsl(var(--hsl-bg));

  --hsl-text: 200, 5%, 45%;
  --color-text: hsl(var(--hsl-text));

  --width-header: 0fr;
  --width-main: 1fr;
  --width-aside: 0fr;

  --z-index-header: 1000;
  --z-index-tooltip: 1010;
  --z-index-toast: 1020;
  --z-index-modal: 1030;
}

@media screen and (min-width: 600px) {
  :root {
    --width-header: 0.75fr;
    --width-main: 2fr;
    --width-aside: 0.25fr;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --width-header: 1fr;
    --width-main: 2fr;
    --width-aside: 0.25fr;
  }
}

/* ────────────────────────────────────────────────────────────────────────── */
/* reset
/* ────────────────────────────────────────────────────────────────────────── */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
button,
input,
select,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * fixes forced useragent styles
 */

button,
input,
select,
textarea {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  box-sizing: border-box;
  font-size: 50%;
}

/* ────────────────────────────────────────────────────────────────────────── */
/* Reboot
/* ────────────────────────────────────────────────────────────────────────── */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  padding-left: 1em;
}

/**
 * removes webkit auto-filled input field styles
 *
 * 1. color doesn't work here, webkit fill color is required
 * 2. background-color doesn't work here, long transition delay used instead
 */

input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-text); /* 1 */
  transition: background-color 0s 3600s; /* 2 */
}
