:root {
  --hsl-success: 100, 70%, 60%;
  --color-success: hsl(var(--hsl-success));
  --hsl-info: 211, 100%, 60%;
  --color-info: hsl(var(--hsl-info));

  --color-grey-light: hsl(200, 10%, 96%);
  --color-grey: hsl(200, 10%, 85%);
  --color-grey-dark: hsl(200, 5%, 40%);

  --color-bg: white;

  --hsl-text: 200, 5%, 45%;
  --color-text: hsl(var(--hsl-text));

  --width-header: 0fr;
  --width-main: 1fr;
  --width-aside: 0fr;

  --z-index-header: 1000;
  --z-index-popover: 1010;
  --z-index-toast: 1020;
}

@media screen and (min-width: 600px) {
  :root {
    --width-header: 0.75fr;
    --width-main: 2fr;
    --width-aside: 0.25fr;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --width-header: 1fr;
    --width-main: 2fr;
    --width-aside: 0.25fr;
  }
}
